body, html{
	height: 100%;
	margin: 0;
	background: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	color: #333333;

    max-height: 100%;
   

}
.pimg1, .pimg2,.pimg3,.pimg4{
	position: relative;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.pimg1{
	background-image: url(../img/bg1.jpg);
    min-height: 100%;
}
.pimg2{
	background-image: url(../img/bg2.jpg);
	min-height: 400px;
}
.pimg3{
	background-image: url(../img/bg3.jpg);
	min-height: 400px;
}
.pimg4{
	background-image: url(../img/bg4.jpg);
	min-height: 500px;
}
.section{
	text-align: center;
	padding: 50px 80px;
}
.ptext{
	font-size: 27px;
	text-transform: uppercase;
}
.ptext .border{
	background-color: transparent;
	padding: 20px;
}

.ptext .border.light-border{
	border:  1px solid white;
	display: block;
	background-color: rgba(0,0,0,.4);
	padding-right: 50px;
}

.pimg1 .ptext{
	position: absolute;
	width: auto;
	text-align: left;
	color: white;
	left: 4%;
	bottom: 8%;
}

.pimg1 .ptext a{
	display: block;
	margin-bottom: 30px;
	color: white;
	text-decoration: none;
	letter-spacing: normal;
	text-transform:none;
	font-size:17px;
}
.pimg1 .ptext h2{
	margin: 0;
	text-transform: uppercase;
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.testsss{
	display: inline-block;
	background-color: white;
	padding: 35px 35px;
	color: #f1ad1d;
	font-weight: 600;
	font-size:54px;
	margin-right: 30px;
}
.pimg1 .ptext .border.light-border{
	color: white;
    font-weight: 700;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px white;
    padding: 0;
    padding-right: 30px;
  
}
.section.section-light h2{
	text-transform: uppercase;
	color: #000;
}
.yellow-line{
	width: 60px;
	margin-top: 50px;	
	border: 2px solid #f1ad1d;
}
 .ptext{
	color: white;
	letter-spacing: normal;
	
}
.grey-line{
	width: 300px;
	margin-top: 50px;
	border: 1px solid silver;
}
.border-a{
	text-transform: none;
	text-decoration: none;
	font-size: 18px;

}
.yellow{
	color: #f1ad1d;
}

.border-a .yellow{
	color: #f1ad1d;
}
.cont{
	width: 700px;
	margin: 0 auto;
}
.pimg2,.pimg3,.pimg4{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}
.pimg2 .ptext .border{
	display: block;
}